<p style="color: green"><%= notice %></p>

<%= render @user %>

<section class = "user_show_bio">
  <h2>Bio</h2>
  <p><%= @user.bio %></p>
</section>

<div id="user_show_last_posts">
  <% @last_posts.each do |post| %>
    <div class="user_show_last_post_container">
      <h2 class = "user_show_last_post_title"><%=  post.title %></h2>
      <p class = "user_show_last_post_text"><%= post.text.slice(0..50) %>...</p>
      <p class = "user_show_last_post_counters">
        comments: <%= post.comments_counter%> likes: <%= post.likes_counter %>
      </p>
    </div>
  <% end %>
</div>

<div>
  <%= link_to "Back to users", users_path %>
</div>
